ccxt
python-dotenv
pandas
numpy
tensorflow  # Для нейронных сетей
gymnasium   # Для стандартизации среды (пока не используем напрямую, но полезно иметь в виду)
 matplotlib # для визуализации данных и результатов бэктеста/обучения
# scikit-learn # для возможной предобработки данных или простых моделей